


    <ul>
        
      <li class="media-body">
 
         <%= comment.commenter %>

        <%= comment.body %>
      </li>
    
      <div class="btn btn-default" role="form">
        <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
        </div>
      
    </ul>



